html{
	font-family: Cinzel,serif;
}
h1{
}
.hidden{
	display: none;
}
.canvas{
/* 	display: grid;
	grid-template-columns:auto repeat(20, 50px) auto;
	grid-template-rows:auto repeat(12, 50px) auto; */
	grid-area: 3/2/4/3;
	background-image: url('./assets/background/forest-road-preview.png');
	background-size: contain; 
/*  	width: 1280;
	height: 720; */
	margin: 0px
}
body{
	margin: 0px;
}
.outerGrid{
	display: grid;
	grid-template-columns: 1fr 1280px 1fr;
	grid-template-rows: 75px 50px 720px auto;
	background: black;
}
header{
	text-align: center;
	grid-area: 1/2/2/3;
	color: white;
}
nav{
	text-align: center;
	grid-area: 2/2/3/3;
}
nav a{
	text-decoration: none;
}
nav a:hover{
	color: green;
}
footer{
	grid-area: 4/2/5/3;
	text-align: center;
	color: white;
}
/* .abort{
	grid-area: 2/2/2/2;
}
.rightP{
	grid-area: 4/18/5/19;
	text-align: center;
	color: gold;
}
.leftP{
	grid-area: 4/5/5/6;
	text-align: center;
	color: gold;
}
.pSkill1{
	grid-area: 10/10/11/11;
	text-align: center;
}
.pSkill2{
	grid-area: 10/11/11/12;
	text-align: center;
} 
.heal{
	grid-area: 10/8/11/9;
}
.guard{
	grid-area: 10/12/11/13
} */