html{
	font-family: Cinzel, serif;
}
h1{
}
.hidden{
	display: none;
}
.canvas{
	grid-area: 3/2/4/3;
	background-image: url('./assets/background/forest-road-preview.png');
	background-size: contain; 
	margin: 0px
}
body{
	margin: 0px;
}
.health{
	position: absolute;
	-webkit-appearance: none;
	background: darkgray;
	border-radius: 10px;
	padding: 2px;
	width:  250px;
	height: 20px;
}
.health::-webkit-progress-bar{
	border-radius: 10px;
	background: black;
}
.health::-moz-progress-bar{
	border-radius: 10px;
	background: #ab1f1f;
}

.health::-webkit-progress-value{
	border-radius: 8px;
	background-color: #ab1f1f;
}
.health::-moz-progress-value{
	border-radius: 8px;
	background-color: #ab1f1f;

}
.outerGrid{
	display: grid;
	grid-template-columns: 1fr 1280px 1fr;
	grid-template-rows: 75px 50px 720px auto;
	background: black;
}
header{
	text-align: center;
	grid-area: 1/2/2/3;
	color: white;
}
nav{
	text-align: center;
	grid-area: 2/2/3/3;
}
nav a{
	text-decoration: none;
}
nav a:hover{
	color: green;
}
footer{
	grid-area: 4/2/5/3;
	text-align: center;
	color: white;
}